---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Thank You">
  <article class="post-content page-template no-image">
    <div class="post-content-body">
      <div class="thank-you" style="display: flex; flex-direction: column; align-items: center; text-align: center;">
         <h1>Thank you!</h1>
         <p>Your inquiry has been received — we'll be in touch soon.</p>
         <p><a href="/">BACK TO HOME</a></p>
      </div>
    </div>
  </article>
</Layout>
